

/* .main-gradient{
    background: rgb(180,217,230);
    background: linear-gradient(90deg, rgba(180,217,230,1) 4%, rgba(163,197,215,1) 74%, rgba(97,146,180,1) 74%);
} */


  
  .h-screen.step-1 {
    background: rgb(180,217,230);
  }
  
  .h-screen.step-2 {
    background-color: #6192b4;
  }
  
  .h-screen.step-3 {
    background-color: #5283a5;
  }
  
  .h-screen.step-4 {
    background-color: #1c2835;
  }

  :host {
    display: block;
  }
  
  .trans-in {
    opacity: 1;
  }
  
  .trans-out{
    opacity: 0;
    transition: opacity 0.7s ease 0.5s;
  }
  