.componente-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fade-in-enter-active {
    transition: opacity 0.5s;
  }
  
  .fade-in-enter, .fade-in-leave-to {
    opacity: 0;
  }