
<div class="hidden">
	<button (click)="goToNextStep()">Next</button>
  <button (click)="goToPreviousStep()">Previous</button>
</div>

<div #steps *ngFor="let item of [1,2,3,4]" class="h-screen" [ngClass]="['step-' + item, getDynamicClass()]" [id]="'div-' + item">
    <app-profile *ngIf="current === 0" [ngClass]="{'trans-in': ready, 'trans-out': !ready}"></app-profile>
    <app-info *ngIf="current === 1" [ngClass]="{'trans-in': ready, 'trans-out': !ready}"></app-info>
    <app-details *ngIf="current === 2" [ngClass]="{'trans-in': ready, 'trans-out': !ready}"></app-details>
    <app-projects *ngIf="current === 3" [ngClass]="{'trans-in': ready, 'trans-out': !ready}"></app-projects>
</div>



