<div [@fadeInAnimation]="componentVisibility">
  <div class="container mx-auto">
    <div class="flex justify-center">
        <div class="flex flex-col gap-5 text-center">
            <div class="flex flex-col justify-center items-center relative z-10">
              <img class="rounded-full bg-gray-50 h-52 w-56 mx-auto z-10" src="https://media.licdn.com/dms/image/C5603AQFWp21eUD8WoA/profile-displayphoto-shrink_200_200/0/1659347306876?e=1709769600&v=beta&t=HcpH1mL8n3_bKlIENyeewaKdyNXm6JjpZbd52SrhMOM" />
              <div class="rounded-lg flex flex-col gap-3 bg-slate-100 mt-4 px-4 py-4">
                  <h1 class="font-bold text-4xl">Adolfo Miota</h1>
                  <p class="text-white-500 text-xl">{{typedTexts$ | async}}</p>
              </div>
              
              <div class="mt-4">
                <a href="https://www.linkedin.com/in/adolfo-miota" class="relative inline-flex items-center justify-center p-4 px-2 py-3 overflow-hidden font-medium text-linkedinColor transition duration-300 ease-out border-2 border-linkedinColor rounded-lg shadow-md group">
                  <span class="absolute flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-linkedinColor group-hover:translate-x-0 ease">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                  </span>
                  <span class="absolute flex items-center justify-center w-full h-full text-purple-500 transition-all duration-300 transform group-hover:translate-x-full ease">
                    <img class="w-9" src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" alt="" />
                  </span>
                  <span class="relative invisible">Button Text</span>
                </a>
              </div>
            </div>
            
            <!-- <a href="#" class="bg-gray-50 mx-auto w-32 text-center rounded-md p-2 border border-1 border-gray-100 hover:bg-white"></a> -->
        </div>  
    </div>
  </div>
</div>