<div [@fadeInAnimation]="componentVisibility" >
  <div class="container mx-auto h-screen">
    <div class="flex items-end h-screen">
      <div class="grid grid-cols-5 items-end h-screen w-full">
        <div class="col-span-2 self-center pl-20">
          <h1 class="text-4xl md:text-5xl font-bold text-gray-800 font-inter">Adolfo Miota</h1>
          <p class="text-white-500 text-2xl font-inter mt-5" style="content: '\00a0'">{{typedTexts$ | async}}</p>
        </div>
        <div class="col-span-3" >
          <img class="mx-auto z-10 w-3/5" [@zoomAnimation]="loadProfile" [@shadowAnimation]="componentVisibility"  src="../../assets/images/persona.png" id="profileImage"/>
        </div>  
      </div>
    </div>
  </div>
</div>